* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-size: 62, 5%;
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
}
.header {
  width: 100%;
  background: url("../images/globe-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
h1 {
  letter-spacing: 0.8rem;
}
h2 {
  font-size: 1.5rem;
}
span {
  font-size: 1.2rem;
}
.buttons-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
button {
  background-color: #895be6;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 0.2rem;
  margin: .3rem;
  height: 55px;
}
button:hover {
  background-color: #581cb8;
}
.active {
  background-color: #581cb8;
}
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  width: 35rem;
  margin-top: 1.5rem;
  border: #95b4e7 2px solid;
  outline: none;
}
input::placeholder {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.country {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgb(101, 108, 132)
    ),
    url("../images/map_image.jpg");
  background-position: center;
  background-size: cover;
  height: 150px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 0.3rem;
  color: #fff;
  text-transform: uppercase;
  margin: .5rem;
  font-size: 1.2rem;
}
